input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    overflow: hidden;
    background: url('../images/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    font-size: large;
}

li {
    margin: 20px;
}

span {
    float: right;
    position: relative !important;
    color: #337ab7 !important;

}

#ok {
    float: right;
    padding-right: 25px;
}

#plus {
    float: right;
    padding-right: 25px;
}

#user {
    float: right;
    padding-right: 25px;
}

.nounderline {
    text-decoration: none !important;
}

a {
    position: relative;
}

img {
    width:25%;   !important;
    height: auto     !important;
}

iframe {
    width: 50%  !important;
    height: auto     !important;
}

#head {
    color: #337ab7;
    font-size: x-large;
}

#head1 {
    color: #337ab7;
    font-size: x-large;
}






