input.form-control {
    margin-bottom: 5px;
}

.webapp {
    overflow: scroll;
    padding-top: 60px;
    background: url('../images/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.div-row {
    padding: 30px;
}

#home {
    overflow: scroll;
    color: white;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: dimgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.navbar-default {
    background-color: black;
    border-color: black;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-link {
    color: white;
}

.has-border {
    border: 1px solid white;
    padding: 30px;
}

ul {
    font-size: large;
}

li {
    margin: 20px;
    list-style-type: none;
}

span {
    position: relative !important;
    color: #337ab7 !important
}

a {
    color: white;
    text-decoration: none;
}

#widgetlist {
    padding-left: 26px;
    float: right;
}

#ok {
    float: right;
}

#plus {
    float: right;
}

#floatright {
    float: right !important;
}

#user {
    float: right;
    padding-right: 25px
}

.nounderline {
    text-decoration: none !important
}

a {
    position: relative
}

img {
    width:auto;   !important;
    height: auto     !important
}

iframe {
    width: 50%  !important;
    height: auto     !important
}

.image {
    padding: 10px;
    width: auto;
    height: auto;
    overflow: auto
}

p {
    word-break: break-all !important
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

