input.form-control {
    margin-bottom: 5px;
}

#content {
    overflow: scroll;
    color: white;
    background-color: floralwhite;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.navbar-default {
    background-color: lightgrey;
    border-color: lightgrey;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-link {
    color: white;
}

.has-border {
    border: 3px solid orange;
    padding: 10px;
    word-wrap: break-word;
    border-radius: 15px;
}

.div-row {
    padding: 30px;
}

cherylJiaFont {
    font-size: x-large;
    font-family: Georgia;
}

ul {
    font-size: large;
}

li {
    margin: 20px;
    list-style-type: none;
}

span {
    position: relative !important;
    color: #337ab7;
}

.homespan {
    position: relative !important;
    color: lightpink;
}

a {
    text-decoration: none;
    position: relative
}

.titles {
    color: black !important;
}

a:hover {
    text-decoration: none;
}

.nounderline {
    text-decoration: none;
}

iframe {
    width: 50%  !important;
    height: auto     !important
}

.image {
    padding: 10px;
    overflow: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

p {
    word-break: break-all !important
}

.intro {
    font-weight: bold;
    margin: auto;
}
