<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form name="myForm" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input ng-model="model.widget.name" name="name" type="text" class="form-control" id="name" placeholder="name" required>
            <span class="help-block"
                  ng-show="(myForm.name.$invalid && !myForm.name.$pristine)">
                  Please input widget name.
            </span>
            <div ng-model="model.widget.text"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
            </div>
        </div>
    </form>
    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-danger  btn-block">Delete</a>
</div>