<div class="container">
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="url" placeholder="url">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="width" placeholder="width">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input name="myFile" type="file" class="form-control"/>
            <input name="width" value="{{model.widget.width}}" style="display: none"/>
            <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
            <input name="userId" value="{{model.userId}}" style="display: none"/>
            <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
            <input name="pageId" value="{{model.pageId}}" style="display: none"/>

            <button id="upload" type="submit" class="btn btn-block btn-primary">Upload Image</button>
        </div>
        <div class="form-group">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search"
               id="search" type="button" class="btn btn-block btn-success">Search</a>
        </div>
    </form>
    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-danger  btn-block">Delete</a>
</div>