<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-1 col-sm-1">
            <div class="navbar-header">
                <p class="navbar-text">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.widgetId}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
            </div>
        </div>

        <div class="col-xs-10">
            <div class="navbar-header">
                <a id="head" class="navbar-brand">
                    Widgets
                </a>
            </div>
        </div>

        <div class="col-sm-1 col-xs-1">
            <div class="navbar-header">
                <p id="plus" class="navbar-text">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span></a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <ul>
        <li sortable>
            <div class="container-fluid row" ng-switch="widget.widgetType" ng-repeat="widget in model.widgets">
                <div class="col-xs-12">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
                       class="nounderline">
                        <span id="widgetlist" class="glyphicon glyphicon-cog"></span></a>
                    <div ng-switch="widget.size" ng-switch-when="HEADER">
                        <h1 ng-switch-when=1>{{widget.text}}</h1>
                        <h2 ng-switch-when=2>{{widget.text}}</h2>
                        <h3 ng-switch-when=3>{{widget.text}}</h3>
                        <h4 ng-switch-when=4>{{widget.text}}</h4>
                        <h5 ng-switch-when=5>{{widget.text}}</h5>
                        <h6 ng-switch-when=6>{{widget.text}}</h6>
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <iframe width="560" height="315"
                                ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div ng-switch-when="IMAGE">
                        <img ng-src="{{widget.url}}">
                    </div>
                    <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div id="user" class="container-fluid">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>